.section-profile {
  background: #fef9f9;
}

.section-work {
  background: #c5deff;
}

.section-news {
  background: #f9fff8;
}

.section-contact {
  background: #6ceeff;
}

/* スマホ用 */
@media (max-width: 768px) {

  section {
    padding: 60px 15px;
  }

  h1 {
    font-size: 1.5rem;
    text-align: center;
  }

  img {
    width: 100%;
    height: auto;
  }

  .card {
    margin: 0 auto;
  }
}